/* Define the appearance property with vendor prefixes */
button,
input,
select,
textarea {
    -webkit-appearance: none; /* For Chrome, Safari, and newer versions of Opera */
    -moz-appearance: none;    /* For Firefox */
    -ms-appearance: none;     /* For Internet Explorer and Edge */
    appearance: none;         /* Standard property */
}

.form{
    font-family: sans-serif;
    font-size: 16px;
}

.form * {
    box-sizing: border-box;
    line-height: 1.5;
}

.form__title{
    font-size: 2em;
    font-weight: 600;
}

.form__item{
    display: flex;
    flex-direction: column;
}

.form__item > *{
    align-self: flex-start;
}

.form__label{
    font-weight: 600;
    padding: 10px 0;
}

.form__input{
    -webkit-appearance: none;

    width: 100%;
    max-width: 425px;

    /* Fixfor Safari/iOS date fields */
    min-height: calc(0.8em + (0.8em * 2) + 0.6em);

    padding: 0.8em;
    font-size: 0.9em;
    font-family: sans-serif;

    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.form__input:focus{
    background: #ffffff;
}

.form__input::placeholder{
    color: #bbbbbb;
}

.form__btn{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    margin: 20px 0;

    color: #ffffff;
    background: #14b64a;
    border: 2px solid #0fa942;
    border-radius: 5px;

    cursor: pointer;
    outline: none;
}

.form__btn:active{
    background: #0fa942;
}

.story{
    font-weight: 600;
}

.user-input{
    color:blue;
    font-weight: 600;
}

/* Addendum CSS */
.addendum {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addendum h2 {
    color: #333333;
    margin-bottom: 10px;
}

.addendum p {
    color: #666666;
    line-height: 1.6;
}